/* style page for cheatsheet git */

body {
	background-color: #a16c5a;
	flex-direction: column;
}


header {
	background-repeat: no-repeat;
	background-color: #aa4949;
	font-family: Copperplate / Copperplate Gothic Light;
	font-size: 150%;
	width:100%;
	height: auto; 
	display: flex;
	justify-content: space-around;
	color: #745000;


}
img {
	height: auto;
	max-height: 150px;
}
header, h1, p {
	border: 1px solid black;
}


nav {
	background-color: Chocolate; 
	color: gray;
	height: 15%;
	margin: 1%;
	font-size: 150%;
	display: flex;
	
}

a {
	margin: auto;
}

a:link {
	color: #bd3000;
}

a:hover {
	color: #743317;
}

a:visited {
	color: #b33c13;
}



thead th  {
	background-color: DarkGoldenRod;
	font-family: Tahoma; 
	font-size: 150%;
	padding: 1%;
	
}

tbody th {
	background-color: LavenderBlush;
	font-size: 120%;
}

tbody td {
	background-color: Chocolate;
	font-size: 120%;
}

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	margin: auto;
}

table {
	margin: 15px; 
	min-width: 35%;
	min-height: 300%;

}


@media screen and (max-width: 700px)
{
	h1, p {
		font-size: 100%;
	}

	nav {
		display: none; 
	}
}
